<div class="post">

<div class="inputs">
  <h2>Add Blog</h2>
<div class="input-err">
  <input required class="author" [(ngModel)]="blogAuthor" placeholder="Enter the author name">
  <span class="error" *ngIf="showErrors && blogAuthor.trim() === ''">Please enter the author.</span>
</div>
<div class="input-err">
  <input required class="author" [(ngModel)]="blogTitle" placeholder="Enter the blog title" >
  <span *ngIf="showErrors && blogTitle.trim() === ''">Please enter the title.</span>
</div>
<div class="input-err">
  <textarea required class="area" [(ngModel)]="blogText" placeholder="Enter the blog text" ></textarea>
  <span *ngIf="showErrors && blogText.trim() === ''">Please enter blog text.</span>
</div>
<div class="bttns">
  <button class="btn" (click)="addBlog()">Add</button>
  <button class="btn-cancel" (click)="cancelBlog()">Cancel</button>
</div>
</div>
</div>
