.post{
  width: 60%;
  margin: 0 auto;
}
.inputs{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.author{
  width: 400px;
  height: 30px;
  font-size: 14px;
  border: 2px solid black;
  border-radius: 6px;
  padding: 5px;
  font-family:'Montserrat', sans-serif;
}
.area{
  width: 400px;
  height: 300px;
  border: 2px solid black;
  border-radius: 6px;
  padding: 5px;
  font-size: 14px;
  font-family:'Montserrat', sans-serif;
  resize: none;
}
.btn{
  border: 2px solid black;
  width: 100px;
  height: 30px;
  color: black;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  border-radius: 6px;
  cursor: pointer;
}
.btn-cancel{
  border: 2px solid rgb(255, 0, 0);
  width: 100px;
  height: 30px;
  color: rgb(255, 0, 0);
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  border-radius: 6px;
  cursor: pointer;
}
.bttns{
  display: flex;
  gap: 5px;
}
.input-err{
  display: flex;
  flex-direction: column;
  gap:5px;
  color: red;
}
@media only screen and (max-width: 440px) {
  .area{
    width: 260px;
  }
  .author{
    width: 260px;
  }
}
