.blog{
  width: 60%;
  margin: 0 auto;
}
.name{
  display: flex;
  justify-content: center;
}
.name h2{
  font-size: 24px;
  text-transform: uppercase;
}
h3{
  font-size: 20px;
  text-transform: uppercase;
  word-wrap: break-word;

}
.text-footer p{
  font-weight: bold;
  font-size: 12px;
  gap: 1px;
  word-wrap: break-word;

}
.text-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
span{
  font-size: 12px;
  font-weight: bold;
}
.back{
  border: 2px solid black;
  width: 100px;
  height: 30px;
  color: black;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  border-radius: 6px;
  cursor: pointer;
}
.back:hover{
  background-color: black;
  color: white;
  transition: 0.5s;
}
