.blog{
  width: 60%;
  margin: 0 auto;
}
.name{
  display: flex;
  justify-content: center;
}
.name h2{
  font-size: 24px;
  text-transform: uppercase;
}
h3{
  font-size: 20px;
  text-transform: uppercase;

}
.text-footer p{
  font-weight: bold;
  display: flex;
  font-size: 12px;
  flex-direction: row;
  gap: 1px;
  word-wrap: break-word;

}
span{
  font-size: 12px;
  font-weight: bold;
}
